@charset "utf-8";
.body {
    position: relative;
}

body {
    background-image: url(../images/bg.jpg);
}

.item-job a::after { 
    width: 100%;
}

.content__title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #3b3b3b;
    letter-spacing: 3px;
    
    
}

.content__title p {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom:solid 1px #3b3b3b ;

}

.content__inner {
    display: flex;
    padding: 30px 250px;
}

.content__img {
    width: 40%;
}

.content__text {
    width: 60%;
    padding: 50px;
}

.text-main {
    display: inline-block;
    
}

.main-left, .main-right {
    float: left;
}
.main-left {
    width: 40%;
}
.main-right {
    width: 60%;
    padding-left: 30px;
    padding-top: 80px;
}

.main-right h2 {
    font-size: 24px;
    font-weight: bold;
}

.main-right p {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.5;
}

.text-p {
    margin-top: 50px;
    
}

.text-p-1, .text-p-2 {
    float: left;
    width: 50%;
}

.text-p-1 {
    padding-right: 10px;
}

.text-p-2 {
    padding-left: 10px;
}

.text-p-1 h2, .text-p-2 h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-p-1 p, .text-p-2 p {
    float: left;
    padding-top: 30px;
    line-height: 1.5;
    font-size: 20px;
}

.text-allimg {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}

.text-1img, .text-2img, 
.text-3img, .text-4img {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.little p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1440px){
    .content__inner {
        display: flex;
        padding: 30px 50px;
    }

    .content__title {
        font-size: 28px;
        
    }
}

@media screen and (max-width: 768px) {

    .body {
        margin-top: 60px;

    }

    .content__title {
        font-size: 20px;    
    }

    .content__title p {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .content__inner {
        padding: 10px 5px;
    }
    
    .content__img {
        display: none;
    }
    
    .content__text {
        width: 100%;
        padding: 10px;
    }

    .main-right h2 {
        font-size: 18px;
    }
    
    .main-right p {
        margin-top: 10px;
        font-size: 12px;
    }

    .main-right {
        padding-top: 40px;
    }
    
    .text-p {
        margin-top: 20px;    
    }
    
    .text-p-1, .text-p-2 {
        float: none;
        width: 100%;
    }

    .text-p-1 {
        padding-right: 0px;
    }
    
    .text-p-2 {
        padding-left: 0px;
        margin-top: 20px;
    }
    
    .text-p-1 h2, .text-p-2 h2 {
        font-size: 18px;
    }
    
    .text-p-1 p, .text-p-2 p {
        float: none;
        padding-top: 10px;
        font-size: 12px;
    }
    
    .text-allimg {
        margin-top: 20px;
        font-size: 10px;
    }

    .text-allimg p {
        margin-top: 10px;
    }

    .little p {
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
}