@charset "utf-8";
/* Base-------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}

/* Helper------------------------ */
.container {

}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.img-resp {
    max-width: 100%;
    height: auto;
}

/* Complant-------------------------- */

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main {
    width: 88%;
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #f2f2f2;
    border-radius: 0 0 30px 0; 
    box-shadow:  -1px 1px 10px -5px #000 ;
}

.order {
    width: 12%;
    height: 100px;
    background-color: #d60000;
}

.logo {
    width: 20%;
    
}

.navi {
    width: 60%;
    
}

.link {
    width: 20%;
}

.logo a {
    display: block;
    margin-top: 15px;
    margin-left: 15px;

}
.logo img {
    width: 85%;
    height: auto;
}

.navi__ls {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 53px;
} 

.navi__item  {
}

.navi__item a {
    position: relative;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #3b3b3b;
}

.navi__item a::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 0%;
    left: 0;
    height: 3px;
    background-color: #d60000;
    transition: all 0.3s ease;
}

.navi__item a:hover::after {
    width: 100%;
}


.link__ls {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 41px;
    padding: 10px;

}

.link__item  {
    position: relative;
    width: 8%;
    height: auto;
}

.link__item a {
    display: block;
}

.link__item  + .link__item::before {
    content: "|";
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 0;
    left: -15px;
    
}

a .link-img:hover {
    opacity: 0.2;
}